<div >
  <input type="text" #selectAge placeholder="Select age" (keyup)="0" />
  <div class="row">
    <div class="col-md-3" *ngFor="let item of listItems | age:selectAge.value">
      <div class="card mycard" style="width: 18rem">
        <img
          class="card-img-top"
          [src]="item.thumbnailUrl"
          alt="Card image cap"
        />
        <div class="card-body">
          <h6 class="card-title">{{ item.title }}</h6>
          <p class="card-text">{{item.age}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
