<!-- <h1>{{title}}</h1>
<input class="inp" placeholder="Please Enter" #inp/> 
<button class="btnAdd" (click)="dataAdd(inp)">ADD</button>
<table class="tbl" *ngIf="products.length > 0">
    <tr *ngFor="let product of products; let i=index; let e=even" [ngClass]="e? 'c1':'c2'">
        <td>{{i+1}}</td>
        <td>{{product}}</td>
    </tr>
</table> -->
<div>
    <a href="#" routerLink="firstweb">1.WebPageFirst</a>
</div>
<div>
    <a href="#" routerLink="testroute" >2.Test routing</a>
</div>
<div>
    <a href="#" routerLink="testservice" >3.Test services</a>
</div>
<div>
    <a href="#" routerLink="testforms" >4.Test forms</a>
</div>
<router-outlet></router-outlet>