<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link activate" routerLink="home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="explore" routerLinkActive="active">Explore</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="mylibrary" routerLinkActive="active">My Library</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="dashboard" routerLinkActive="active">Dashboard</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
